.shop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 20px;
    border: 1px solid #dcdde1;
    border-radius: 10px;
    background-color: #F3F5F7 ;
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    padding: 0px 25px;
    
}

.shop img {
    width: 120px;
    border-radius: 10px;
    margin-bottom: 80px;
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
}

.shop .shop__column {
    display: flex;
    align-items: center;
}

.shop__content {
    position: relative;
    height: 140px;
    width: 150px;
}

.shop .shop__first-text {
    position: absolute;
    top: 20px;
    width: 100%;
    display: block;
    font-size: 25px;
    font-weight: 700;
    color: #093028;
    opacity: 0.8; 
}

.shop .shop__second-text {
    position: absolute;
    top: 60px;
    width: 100%;
    display: block;
    font-size: 14px;
    font-weight: 700;
    opacity: 0.8;
    font-family: 'Nanum Gothic', sans-serif;
}

.shop .shop__third-text {
    position: absolute;
    top: 85px;
    width: 100%;
    display: block;
    font-size: 14px;
    font-weight: 700;
    opacity: 0.5;
    font-family: 'Nanum Gothic', sans-serif;
}

.shop .shop__fourth-text {
    position: absolute;
    bottom: 8px;
    font-size: 15px;
    color: #093028;
}

@keyframes shopAnim {
    from {
        opacity: 0;
        transform: translateX(-200px);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

.shop {
    animation: shopAnim 0.7s ease-out forwards;
}

.shop:nth-child(3) {
    margin-bottom: 70px;
}
