.spot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 20px;
    border: 1px solid #dcdde1;
    border-radius: 10px;
    background-color: #F3F5F7 ;
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    padding: 0px 25px;
    
}

.spot img {
    width: 120px;
    border-radius: 10px;
    margin-bottom: 80px;
}

.spot .spot__column {
    width: 100%;
    display: flex;
    align-items: center;
}

.spot__content {
    position: relative;
    height: 140px;
    width: 100%;
}

.spot .spot__first-text {
    position: absolute;
    top: 20px;
    display: block;
    font-size: 25px;
    font-weight: 700;
    color: #093028;
    opacity: 0.8; 
}

.spot .spot__second-text {
    position: absolute;
    top: 60px;
    display: block;
    font-size: 14px;
    font-weight: 700;
    opacity: 0.8;
    font-family: 'Nanum Gothic', sans-serif;
}

.spot .spot__third-text {
    position: absolute;
    top: 85px;
    display: block;
    font-size: 14px;
    font-weight: 700;
    opacity: 0.5;
    font-family: 'Nanum Gothic', sans-serif;
}

.spot .spot__fourth-text {
    position: absolute;
    bottom: 8px;
    font-size: 15px;
    color: #093028;
}

.spot .spot__five-text {
    position: absolute;
    bottom: 8px;
    left: 106px;
    font-size: 15px;
    color: #093028;
}

@keyframes spotAnim {
    from {
        opacity: 0;
        transform: translateX(-200px);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

.spot {
    animation: spotAnim 0.7s ease-out forwards;
}

.spot:nth-child(3) {
    margin-bottom: 100px;
}

.none {
    display: none;
}