.header-main {
    position: flex;
    justify-content: center;
    align-items: center;
    background-color: #F3F5F7;
    margin: 30px 20px;
    border: 1px solid #dcdde1;
    border-radius: 20px;
    width: 92%;
    height: 200px;
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
}

.header-main2 {
    position: relative;
    background-image: linear-gradient(to bottom right ,#A770EF,#cbb4d4,#FFAFBD,#ffc3a0 );
    margin: 6px;
    border-radius: 15px;
    height: 185px;
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
}

.header-main3 {
    background-image: linear-gradient(to bottom right ,#243B55,#4B79A1,#283E51,#434343 );
}

.header-main4 {
    background-image: linear-gradient(to bottom right ,#f85032,#ef473a,#F7971E,#FFD200 );
}

.header-main5 {
    background-image: linear-gradient(to bottom right ,#1c92d2,#ACB6E5,#BDFFF3,#74ebd5 );
}

.header-main .header__logo {
    position: absolute;
    bottom: 10px;
    right: 20px;
    width: 150px;
}

.header-main .header__text {
    position: absolute;
    top: 30px;
    left: 30px;
    font-size: 40px;
    color: white;
}

@keyframes headerAnim {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.header-index {
    animation: headerAnim 1s ease-out forwards;
}